<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Teekiu Landing page</title>
<link rel="stylesheet" href="vendor/css/bootstrap.min.css">
<link rel="stylesheet" href="vendor/css/owl.carousel.min.css">
<link rel="stylesheet" href="vendor/css/owl.theme.default.min.css">
<link rel="stylesheet" href="vendor/css/slick.css">
<link rel="stylesheet" href="css/main.min.css?v=<%= new Date().getTime() %>">