<% var benefits = [
  {
    "title": "Dancing",
    "srcBackground": "images/11.min.jpg"
  },
  {
    "title": "Cycling",
    "srcBackground": "images/22.min.jpg"
  },
  {
    "title": "Functional",
    "srcBackground": "images/33.min.jpg"
  },
  {
    "title": "Pakour",
    "srcBackground": "images/44.min.jpg"
  },
  {
    "title": "Fitkid",
    "srcBackground": "images/55.min.jpg"
  },
  {
    "title": "Fitkid",
    "srcBackground": "images/66.min.jpg"
  },
  {
    "title": "Fitkid",
    "srcBackground": "images/77.min.jpg"
  },
  {
    "title": "Fitkid",
    "srcBackground": "images/88.min.jpg"
  },
  {
    "title": "Fitkid",
    "srcBackground": "images/99.min.jpg"
  }
]; %>

<section id="ss-benefit" class="ss-benefit ss-padding">
	<div class="container">
		<h2 class="ss-title title-dark title-center">Bạn sẽ nhận được gì khi tập ở đây?</h2>
	</div>
  <div class="benefit-carousel-w">
    <div class="benefit-carousel-i">
      <section class="benefit-carousel owl-carousel owl-theme">

        <% benefits.forEach(function(benefit) { %>
          <div class="item">
            <article class="benefit-item">
              <div class="benefit-item-overlay">
                <h4 class="benefit-item-title"><%= benefit.title %></h4>
                <div class="benefit-item-cta"><a href="#"></a></div>
              </div>
              <img src="<%= benefit.srcBackground %>" alt="<%= benefit.title %>">
            </article>
          </div>
        <% }); %>

      </section>
    </div>
  </div>
</section>