<% var benefits = [
  {
    "title": "Dancing",
    "srcModel": "images/subject-model-1.min.png"
  },
  {
    "title": "Cycling",
    "srcModel": "images/subject-model-1.min.png"
  },
  {
    "title": "Functional",
    "srcModel": "images/subject-model-1.min.png"
  },
  {
    "title": "Pakour",
    "srcModel": "images/subject-model-1.min.png"
  },
  {
    "title": "Fitkid",
    "srcModel": "images/subject-model-1.min.png"
  }
]; %>

<section id="ss-benefit" class="ss-benefit ss-padding">
	<div class="container">
		<h2 class="ss-title title-dark title-center">Bạn sẽ nhận được gì khi tập ở đây?</h2>
	</div>
  <div class="benefit-carousel-w">
    <div class="benefit-carousel-i">
      <p><%= benefits %></p>
      <section class="benefit-carousel owl-carousel owl-theme">

        <% benefits.forEach(function(benefit) { %>
          <div class="item">
            <article class="benefit-item">
              <h4 class="benefit-item-title"><%= benefit.title %></h4>
              <div class="benefit-item-model" data-src="<%= benefit.srcModel %>"></div>
              <div class="benefit-item-cta"><a href="#">Xem thêm</a></div>
            </article>
          </div>
        <% }); %>

      </section>
    </div>
  </div>
</section>