<section class="ss-facility ss-padding" id="ss-facility">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<h2 class="ss-title mb-4">Cơ sở vật chất</h2>
				<p>Nằm tại khu vực trung tâm Quận Ba Đình, TeeKiu có không gian tập luyện ấn tượng được đánh giá cao từ những chi tiết nhỏ nhất từ sàn tập giảm chấn 3 lớp đảm bảo sự an toàn, thiết bị và đồ tập được nhập hoàn toàn trực tiếp từ Mỹ  và Ý của các hãng hàng đầu cung cấp thiết bị Fitness: Technogym, Rogue, Les Mills, Boga.</p>
				<p>Khu vực Functional trần cao nhất tại Việt Nam lên đến 7m, đem lại cảm giác tập thoải mái dẫn đến kết quả tập luyện tốt.</p>
				<p>Đặc biệt hơn, lần đầu tiên tại Hà Nội hội viên được trải nghiệm bộ môn Yoga trên mặt nước với thảm tập Boga Mat.</p>
			</div>
			<div class="col-lg-6">
				<ul class="facility-gallery">
					<li><img src="images/facility-1.min.jpg" alt="1"></li>
					<li><img src="images/facility-2.min.jpg" alt="2"></li>
					<li><img src="images/facility-3.min.jpg" alt="3"></li>
					<li><img src="images/facility-4.min.jpg" alt="4"></li>
				</ul>
			</div>
		</div>
	</div>
</section>