<section class="ss-facility ss-padding" id="ss-facility">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<h2 class="ss-title mb-4">Cơ sở vật chất</h2>
				<p>Cơ sở vật chất đồ tập được nhập <span class="text-highlight">hoàn toàn trực tiếp từ Mỹ</span> (dụng cụ tập) và Ý (sàn tập giảm chấn 3 lớp tại khu vực Functional và Freeweight) (Không thông qua bên thứ 3 nào tại VN).<br>
				Khu vực Functional <span class="text-highlight">trần cao nhất tại Việt Nam</span>, đem lại cảm giác tập thoải mái dẫn đến kết quả tập luyện tốt.</p>
			</div>
			<div class="col-lg-6">
				<ul class="facility-gallery">
					<li><img src="images/facility-1.min.jpg" alt="1"></li>
					<li><img src="images/facility-2.min.jpg" alt="2"></li>
					<li><img src="images/facility-3.min.jpg" alt="3"></li>
					<li><img src="images/facility-4.min.jpg" alt="4"></li>
				</ul>
			</div>
		</div>
	</div>
</section>