<footer id="page-footer" class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col-3">
				<div class="py-lg-5 py-md-4 py-3 footer-col-left">
					<img src="images/logo.min.svg" alt="Logo teekiu" class="footer-logo">
				</div>
			</div>
			<div class="col-9">
				<div class="footer-col-right py-lg-5 py-md-4 py-3">	
					<address>
						Tầng 4 – 5, La Thành Plaza, 226 Vạn Phúc, Ba Đình, Hà Nội<br>
						Phone: +84 3518 5999<br>
						Hotline: 0904 101 888<br>
						Email: info@teekiufitness.com<br>
						Website: teekiufitness.com<br>
					</address>
				</div>
			</div>
		</div>
	</div>
</footer>