<header id="page-header" class="page-header">
	<nav class="navbar navbar-inverse">
		<div class="container">
			<a href="#" class="navbar-brand"><img src="images/logo-teekiu-trdng.min.png" alt="Teekiu"></a>
		</div>
	</nav>
	<!-- End nav top -->




	<section id="carousel-top" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">


      <!-- Slide 1 -->
	    <article class="carousel-item active">
	      <div class="carousel-detail">
          <div class="container">
            <div class="carousel-content-block">
              <div class="carousel-caption-block">
                <h1 class="heading"><span class="text-highlight">100%</span> đội ngũ PT <span class="text-highlight">chuyên nghiệp</span></h1>
                <p>Được đào tạo bài bản có chứng chỉ quốc tế, được đầu tư đầy đủ, hiện đại và có kiến thức rõ ràng nhằm đem lại trải nghiệm tốt nhất cũng như đem lại hiệu quả tập luyện cao nhất.</p>
              </div>

              <img src="images/slide-1-model.min.png" alt="Model" class="carousel-img-model">
            </div>
          </div>
        </div>
	    </article>



	  </div>
	</section>
</header>