<header id="page-header" class="page-header">
	<nav class="navbar navbar-inverse">
		<div class="container">
			<a href="#" class="navbar-brand"><img src="images/logo-teekiu-trdng.min.png" alt="Teekiu"></a>
		</div>
	</nav>
	<!-- End nav top -->




	<section id="carousel-top" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">


			<!-- Slide 1 -->
			<article class="carousel-item active">
				<div class="carousel-detail">
					<div class="container">
						<div class="carousel-content-block">
							<div class="carousel-caption-block">
								<h1 class="heading">Sứ mệnh của <span class="text-highlight">Teekiu</span></h1>
								<p>là tạo ra một cộng đồng cùng nhau trải nghiệm, vượt qua những giới hạn của bản thân và làm giàu vốn kiến thức của bạn về tập luyện và sức khỏe mỗi ngày.</p>
								<p class="text-highlight">HỌC CÁCH YÊU BẢN THÂN! SỐNG MỘT CUỘC SỐNG XỨNG ĐÁNG!</p>
								<br><br>
								<a href="#ss-benefit" class="btn btn-outline btn-scroll">Khám phá ngay</a>
							</div>

							<!-- <img src="images/slide-1-model.min.png" alt="Model" class="carousel-img-model"> -->
						</div>
					</div>
				</div>
			</article>


			<!-- Slide 2 -->
			<article class="carousel-item">
				<div class="carousel-detail">
					<div class="container">
						<div class="carousel-content-block content-full">
							<div class="carousel-caption-block">
								<h1 class="heading">Together, we build<br><span class="text-highlight">the best version</span> of ourselves</h1>
								<br><br>
								<a href="#ss-staff" class="btn btn-outline btn-scroll">Tìm hiểu thêm</a>
							</div>
						</div>
					</div>
				</div>
			</article>


			<!-- Slide 3 -->
			<article class="carousel-item">
				<div class="carousel-detail">
					<div class="container">
						<div class="carousel-content-block">
							<div class="carousel-caption-block">
								<h1 class="heading">Cơ sở vật chất <span class="text-highlight">được đầu tư đầy đủ</span> với <span class="text-highlight">kiến thức chuyên sâu</span></h1>
								<p><span class="text-highlight">100%</span> thiết bị tập hàng đầu thế giới như Technogym, Rogue, Les Mills, Boga được <span class="text-highlight">nhập khẩu trực tiếp</span> từ Ý và Mỹ</p>
								<p>Phòng tập được thiết kế theo <span class="text-highlight">chuẩn quốc tế</span> với sàn tập cao su chuyên nghiệp được nhập khẩu từ Ý. Diện tích hơn 3000m2 với <span class="text-highlight">không gian thoáng, trần cao</span> 7m sẽ làm hài lòng bất cứ người tập ở trình độ nào.</p>
								<br><br>
								<a href="#ss-staff" class="btn btn-outline btn-scroll">Tìm hiểu thêm</a>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>

		<a class="carousel-control-prev" href="#carousel-top" role="button" data-slide="prev">
	    <span class="carousel-control left"><i class="icon icon-caret-left"></i></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carousel-top" role="button" data-slide="next">
	    <span class="carousel-control right"><i class="icon icon-caret-right"></i></span>
	    <span class="sr-only">Next</span>
	  </a>
	</section>
</header>