<header id="page-header" class="page-header">
	<nav class="navbar navbar-inverse">
		<div class="container">
			<a href="#" class="navbar-brand"><img src="images/logo-teekiu-trdng.min.png" alt="Teekiu"></a>
		</div>
	</nav>
	<!-- End nav top -->




	<section id="carousel-top" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">


			<!-- Slide 1 -->
			<article class="carousel-item active">
				<div class="carousel-detail">
					<div class="container">
						<div class="carousel-content-block">
							<div class="carousel-caption-block">
								<h1 class="heading">Sứ mệnh của <span class="text-highlight">Teekiu</span></h1>
								<p>là tạo ra một cộng đồng cùng nhau trải nghiệm, vượt qua những giới hạn của bản thân và làm giàu vốn kiến thức của bạn về tập luyện và sức khỏe mỗi ngày.</p>
								<br><br>
								<a href="#ss-benefit" class="btn btn-outline btn-scroll">Khám phá ngay</a>
							</div>

							<!-- <img src="images/slide-1-model.min.png" alt="Model" class="carousel-img-model"> -->
						</div>
					</div>
				</div>
			</article>


			<!-- Slide 2 -->
			<article class="carousel-item">
				<div class="carousel-detail">
					<div class="container">
						<div class="carousel-content-block content-full">
							<div class="carousel-caption-block">
								<h1 class="heading">Together, we build<br><span class="text-highlight">the best version</span> of ourselves</h1>
								<br><br>
								<a href="#ss-staff" class="btn btn-outline btn-scroll">Tìm hiểu thêm</a>
							</div>
						</div>
					</div>
				</div>
			</article>


			<!-- Slide 3 -->
			<article class="carousel-item">
				<div class="carousel-detail">
					<div class="container">
						<div class="carousel-content-block">
							<div class="carousel-caption-block">
								<h3 class="heading">Cơ sở vật chất <span class="text-highlight">được đầu tư đầy đủ</span> với <span class="text-highlight">kiến thức chuyên sâu</span></h3>
								<p><span class="text-highlight">100%</span> thiết bị tập hàng đầu thế giới như<br>Technogym, Rogue, Les Mills, Boga được <span class="text-highlight">nhập khẩu trực tiếp</span> từ Ý và Mỹ<br>Phòng tập được thiết kế <span class="text-highlight">đạt chuẩn quốc tế</span> với diện tích rộng rãi lên đến 3000 m2</p>
								<br><br>
								<a href="#ss-staff" class="btn btn-outline btn-scroll">Tìm hiểu thêm</a>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>

		<a class="carousel-control-prev" href="#carousel-top" role="button" data-slide="prev">
	    <span class="carousel-control left"><i class="icon icon-caret-left"></i></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carousel-top" role="button" data-slide="next">
	    <span class="carousel-control right"><i class="icon icon-caret-right"></i></span>
	    <span class="sr-only">Next</span>
	  </a>
	</section>
</header>