<section class="ss-register" id="ss-register">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="register-info-block">
					<h2 class="ss-title">Nhận ngay thẻ tập thử</h2>
					<p>Nếu như bạn không muốn phải nhìn số tiền mình kiếm ra được lúc trẻ để tiêu tán cho bệnh tật thuốc men khi về già thì hãy đứng dậy và bắt đầu luyện tập ngay từ bây giờ. Teekiu Sport &amp; Fitness sẽ mang những kiến thức đầy đủ và phù hợp nhất để tư vấn chương trình luyện tập đến bạn.</p>
					<p>Máy tầm soát Tanita chỉ có mặt tại những bệnh viện cao cấp và lớn trên thế giới.</p>
				</div>
			</div>
			<div class="col-lg-3">
				<img src="images/register-model.min.png" alt="register model">
			</div>
			<div class="col-lg-4">
				<form class="form-register">
					<div class="form-group">
						<input type="text" class="form-control" name="name">
						<label>Họ tên</label>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="mobile">
						<label>Số điện thoại</label>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="email">
						<label>Email</label>
					</div>
					<button class="btn btn-outline btn-submit">Đăng ký</button>
				</form>
			</div>
		</div>
	</div>
	<img src="images/slogan-model.min.png" alt="slogan model" class="slogan-model">
	<div class="container slogan-area">
		<div class="slogan-text">
			<h1 class="row-1">Love your life</h1>
			<h1 class="row-2">Live your life</h1>
		</div>
	</div>
</section>