<section id="ss-staff" class="ss-staff">
	<div class="staff-thumbnail">
    <img src="images/staff-girl.min.jpg" alt="Staff">
  </div>
  <div class="staff-detail">
    <div class="staff-detail-block">
      <h4 class="heading">
        Nhân viên lễ tân của <span class="text-highlight">Teekiu</span><br>
        được <span class="text-highlight">chấm điểm cao nhất</span> trong<br>
        hệ thống phòng tập tại Hà Nội
      </h4>
      <p class="text-quote">Theo Mystery Shopper từ Technogym</p>
    </div>
  </div>
</section>