.ss-slogan {
	background: $primary-color;
	position: relative;
	z-index: 0;
	height: 304px;
	&::before {
		content: '';
		position: absolute;
		width: 300px;
		height: 100%;
		background: #ffffff;
		z-index: 1;
		top: 0;
		right: 0;
	}
	@include breakpoint(991, max) {
		height: 250px;
		&::before {
			width: 20%;
		}
	}
	@include breakpoint(767, max) {
		height: 5px;
		&::before {
			display: none;
		}
	}
}
