.ss-facility {
	background-color: $secondary-color;
	position: relative;
	z-index: 0;
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	align-items: center;
	@include breakpoint(992, min) {
		height: 800px;
	}
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background-image: url('../images/facility-bg.min.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		opacity: 0.05;
	}
}

.facility-gallery {
	list-style: none;
	padding: 0;

	> li {
		img {
			width: 100%;
			margin-bottom: 15px;
		}
	}

	@include breakpoint(576, min) {
		column-count: 2;
		column-gap: 15px;
	}

	@include breakpoint(992, min) {
		position: relative;
		z-index: 0;
		width: 100%;
		height: 600px;
		> li {
			position: absolute;
			background-color: #cccccc;
			box-shadow: 5px 8.7px 20px 0 rgba(0, 0, 0, 0.3);
			transition: all 0.3s ease-in-out;
			
			&:nth-child(1) {
				z-index: 4;
				top: 0;
				left: 0;
				width: 100%;
			}

			&:nth-child(2) {
				z-index: 5;
				right: -325px;
				top: 170px;
				width: 85%;
			}

			&:nth-child(3) {
				z-index: 2;
				top: 280px;
				right: -70px;
				width: 100%;
			}

			&:nth-child(4) {
				z-index: 1;
				bottom: 170px;
				left: -200px;
				width: 65%;
			}

			img {
				margin-bottom: 0;
			}

			&:hover {
				transform: translateY(-5%);
			}
		}
	}
	
	@include breakpoint(1200, min) {
		> li {
			&:nth-child(1) {
				top: 0;
				left: 0;
			}

			&:nth-child(2) {
				right: -365px;
				top: 200px;
			}

			&:nth-child(3) {
				top: 300px;
				right: -90px;
			}

			&:nth-child(4) {
				bottom: 90px;
				left: -230px;
			}
		}
	}
	
}
