!!!
%html
  %head
    %link{ rel: "stylesheet", type: "text/css", href: "css/main.min.css" }/
  %body
    .container
      .content this is index page
      %img{ src: "images/mattelipstick_main.jpg"}

    -# JavaScript
    %script{src: "js/main.min.js"}